<!DOCTYPE html>
<html>
<%- include('_partial/head') %>

<body class="bg-white min-h-screen p-4">
    <%- body %>

    <%- include('_partial/footer') %>
    
    <% if (is_post() && config.highlight.enable) { %>
    
    <% } %>
    
</body>
</html>