<footer class="text-center py-12 mt-16">
    <div class="w-8 h-0.5 bg-gray-400 mx-auto mb-6"></div>
    <p class="text-gray-500 font-mono text-sm mb-2">
        <span class="text-gray-800">$ </span>whoami #zknmoe
    </p>
    <p class="text-xs text-gray-400">
        Powered by <a href="https://hexo.io/" class="text-gray-500 hover:underline">Hexo</a>
    </p>
</footer>