<!-- Navbar -->
<nav class="p-4 lg:hidden flex justify-center">
    <a href="<%= url_for('/') %>" class="text-xl font-extrabold text-slate-900 group">
        <span><%= config.title %></span>
    </a>
</nav>